.production {

  &__product {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;

    span {
      width: 25%;
    }
  }
}

.backgroundColor {
  background-color: #c2cadc;
}