.production {

  &__columns {
    display: flex;
    padding: 10px;

    &__column {
      text-align: center;
      width: 25%;
    }
  }

  &__product {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;

    span {
      text-align: center;
      width: 25%;
    }
  }
}

.backgroundColor {
  background-color: #c2cadc;
}