.header {
  display: flex;
  height: 10%;
  border-bottom: 1px solid #e4ecef;

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-right: 1px solid #e4ecef;
  }

  &__right {
    display: flex;
    align-items: center;
    width: 75%;

    div {
      width: 25%;
    }
  }
}