.navbar {
  width: 25%;
  border-right: 1px solid #e4ecef;

  &__container {

    &__title {
      text-align: center;
      padding: 10px;
      border-bottom: 1px solid #e4ecef;
    }

    &__content {
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      margin: 5px;
      background-color: #ffffff;

      &__item {
        text-align: center;
        cursor: pointer;
        padding: 10px;

      }
    }
  }
}

@media (max-width: 400px) {
  .navbar__container__content__item {
    font-size: 10px;
  }

  .production__columns {
    padding: 8px 0;
  }

  .production__columns__column {
    text-align: center;
    width: 25%;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}